* {
  box-sizing: border-box;
}

:root {
  --primary: #468869;
  --dark: #1a1a1a;
  --error: rgb(134, 6, 6);
}

main {
  margin: 0 auto;
  max-width: 98%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: beige;
}

a {
  border-radius: 5px;
  color: beige;
  text-decoration: none;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}


header{
  background-color:var(--primary);
  height:25%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  background: var(--primary); 
}

.title{
  width:25%;
  margin-left:20px;
}

.navbar{
  width:70%;
}

.navbarPage{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-item{
  width:20%
}

.home{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;

}

.home img{
  margin-left:20%;
  margin-right:20%;
}
.about{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.introduction{
  margin-left:20%;
  margin-right:20%;
}

.aboutmepic {
	max-width: 30%;
}

.resumePage{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.resumeInfo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:bisque;
}

.contactPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  opacity: 0.8;
}

.contactPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

#contact-form{
  width: 10%;
}

.contact-info{
  font-size: smaller;
  color: antiquewhite;
}

.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-image{
  width:90%;
}

.card-title{
  margin:5px;
  font-size: larger;
  color: beige;
}

.card-link{
  font-size: smaller;
  color: blanchedalmond;
}

.page-header{
  text-align: center;
}

.project-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}

.projectCard{
  width:29%;
  margin-top: 20px;
}

@media (max-width: 1050px) {
  .projectCard{
    width:45%;
  }
}

@media (max-width: 800px) {
  .navbar {
    width:98%
  }
  .title{
    width:100%;
  }
  .projectCard{
    width:90%;
  }
}



